<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link href="style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <article>
        <table >
        <caption><h1>Океаны планеты Земля</h1></caption>
            <tr><th>Океан</th><th>Площадь поверхности, кв.км</th><th>Объём воды</th><th>Средняя глубина</th><th>Максимальная глубина</th><th>Кнопки</th></tr>
            <tr><th>Северный Ледовитый</th><td></td><td></td><td></td><td></td><td><input type="button" value="Показать" onclick="marian()"></td></tr>
            <tr><th>Атлантический</th><td></td><td></td><td></td><td></td><td><input type="button" value="Показать" onclick="puerto()"></td></tr>
            <tr><th>Индийский</th><td></td><td></td><td></td><td></td></tr>
            <tr><th>Тихий</th><td></td><td></td><td></td><td></td></tr>
            <tr><th>Мировой</th><td></td><td></td><td></td><td></td></tr>
        </table>
        <div id="pokaz"></div>
        </article>
        <script src="script.js"> </script>
    </body>
</html>